# Common
MYSQL_PASSWORD=
MYSQL_USER=

# MySQL Container Environment Variables
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# Spring Boot Application Environment Variables
MYSQL_DRIVER=
MYSQL_URL=

#JWT
JWT_SECRET=

# AWS S3
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

#Smart Contract(Web3j)
VIDEO_NFT_CONTRACT_ADDRESS=
MARKET_PLACE_CONTRACT_ADDRESS=
PRIVATE_KEY=
SERVER_WALLET_ADDRESS=
RPC_URL
CHAIN_ID=

#Flask
FLASK_URL=
